#!/bin/bash -l
{% if run.cluster != "dummy" %}
#SBATCH --output={{ run.dir }}/train.%j.%N.{{ run.seed }}.out
#SBATCH --error={{ run.dir }}/train.%j.%N.{{ run.seed }}.err
#SBATCH --chdir={{ run.dir }}
#SBATCH --time={{ run.length }}
#SBATCH --job-name={{ run.id }}
#SBATCH --nodes={{ run.nodes }}
#SBATCH --gres=gpu:{{ run.gpus }}
#SBATCH --partition={{ run.cluster }}
#SBATCH --account={{ run.cluster }}
#SBATCH --cpus-per-task={{ run.ntasks }}
#SBATCH --mem={{ run.mem }}
{% if run.nodelist %}#SBATCH --nodelist={{ run.nodelist }}{% endif %}
{% endif %}

cd {{ run.dir }}

{% for dest in run.symlinks %}
for FILE in {{ dest }}; do
    ln -s $FILE;
done
{% endfor %}

. ENVS

echo "START `date +%F\ %T`"

source $PREP_SCRIPT
conda activate $ICENET_CONDA

PRELOAD=""
FINAL_WEIGHTS="results/networks/{{ run.transfer_network }}/{{ run.transfer_network }}.network_{{ run.transfer_dataset }}.{{ run.seed }}.h5"
CHECKPOINT_WEIGHTS="`ls results/networks/{{ run.transfer_network }}/checkpoint.{{ run.transfer_network }}.network_{{ run.transfer_dataset }}.{{ run.seed }}.*.keras 2>/dev/null`"

if [ -f $FINAL_WEIGHTS ]; then
    echo "Preloading from previously trained network $FINAL_WEIGHTS"
    PRELOAD="-p $FINAL_WEIGHTS"
elif [ ! -z "$CHECKPOINT_WEIGHTS" ]; then
    CHECKPOINT_FILE=`echo "$CHECKPOINT_WEIGHTS" | sort | head -n 1`
    echo "Preloading from checkpoint file $CHECKPOINT_FILE"
    PRELOAD="-p $CHECKPOINT_FILE"
fi

{% if run.filter_factor|float > 0.0 %}
FILTER_FACTOR={{ run.filter_factor }}
{% endif %}

COMMAND="icenet_train_tensorflow -v \
    $TRAIN_STATIC_ARGS \
    -b {{ run.batch }} -e {{ run.epochs }} -n $FILTER_FACTOR -s {{ run.strategy }} \
    $PRELOAD {{ run.dataset }} {{ run.name }} {{ run.seed }} \
    {{ run.additional_args }}"

echo "Running $COMMAND"
eval $COMMAND

echo "FINISH `date +%F\ %T`"
